@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.logo {
  width: 70px;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 10;
}
.logo__img {
  width: 100%;
}

.btn-menu {
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  z-index: 11;
}
.btn-menu__line {
  background: mediumseagreen;
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  transition: all 0.6s ease-in-out;
}
.btn-menu.close {
  transform: rotate(180deg);
}
.btn-menu.close .btn-menu__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  width: 24px;
  background: mediumseagreen;
}
.btn-menu.close .btn-menu__line:nth-child(2) {
  opacity: 0;
}
.btn-menu.close .btn-menu__line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
  width: 24px;
  background: mediumseagreen;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  visibility: hidden;
  z-index: 10;
}
.menu.show {
  visibility: visible;
}
.menu__nav, .menu__branding {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__nav {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #262626;
  list-style: none;
  transform: translate3d(100%, 0, 0);
  transition: all 0.6s ease-in-out;
}
.menu__nav.show {
  transform: translate3d(0, 0, 0);
}
.menu__branding {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.6s ease-in-out;
}
.menu__branding.show {
  transform: translate3d(0, 0, 0);
}
.menu__branding .menu__logo {
  width: 100%;
}
.menu hr {
  width: 100%;
}
.menu .menu__item {
  width: 100%;
  transform: translate3d(600px, 0, 0);
  transition: all 0.6s ease-in-out;
}
.menu .menu__item.show {
  transform: translate3d(0, 0, 0);
}
.menu .menu__item .menu__link {
  text-decoration: none;
  color: mediumseagreen;
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.6s ease-in-out;
}
.menu .menu__item:hover {
  width: 50%;
  background: #000;
  transition-delay: unset;
  transition: all 250ms ease-in-out;
}

.menu__item:nth-child(1) {
  transition-delay: 0.05s;
}

.menu__item:nth-child(2) {
  transition-delay: 0.1s;
}

.menu__item:nth-child(3) {
  transition-delay: 0.15s;
}

.menu__item:nth-child(4) {
  transition-delay: 0.2s;
}

.menu__item:nth-child(5) {
  transition-delay: 0.25s;
}

.menu__item:nth-child(6) {
  transition-delay: 0.3s;
}

.menu__item:nth-child(7) {
  transition-delay: 0.35s;
}

@media (max-width: 1024px) {
  .logo {
    position: absolute;
  }

  .btn-menu {
    position: absolute;
  }
}
@media (max-width: 500px) {
  .menu__nav {
    width: 100%;
    height: 70vh;
    transform: translate3d(0, 100%, 0);
  }

  .menu__branding {
    width: 100%;
    height: 30vh;
    transform: translate3d(0, -100%, 0);
  }

  .menu .menu__item {
    transform: translate3d(0, 600px, 0);
  }

  .logo {
    top: 35px;
    left: 25px;
  }
  .logo__img {
    width: 70%;
  }
}
.modal-buy {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
}
.modal-buy__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.modal-buy__content {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #fff;
  max-width: 800px;
  max-height: 100vh;
  padding: 30px;
  position: relative;
  border-radius: 10px;
}
.modal-buy__content .p-buy {
  font-size: 20px;
}
.modal-buy__content #img-buy {
  width: 30%;
}
.modal-buy__title {
  font-size: 40px;
  margin: 0 0 20px 0;
  line-height: 110%;
}
@media (max-width: 600px) {
  .modal-buy .modal-items-flex {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
  }
  .modal-buy .modal-buy__content {
    padding: 30px 10px 30px 10px;
  }
  .modal-buy .modal-buy__title {
    font-size: 25px;
  }
  .modal-buy .p-buy {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .modal-buy .add {
    right: 20%;
  }
  .modal-buy .buy {
    left: 20%;
  }
  .modal-buy #img-buy {
    width: 60%;
  }
}

.modal-items-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 10px 0;
}

.add-cancel-btn {
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  color: #fff;
  background: springgreen;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.add-cancel-btn:hover {
  color: brown;
}

.add {
  position: absolute;
  bottom: 10px;
  right: 5%;
}

.buy {
  position: absolute;
  bottom: 10px;
  right: 20%;
}

.btn-close-buy {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  z-index: 350;
}
.btn-close-buy:hover {
  color: brown;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input {
  font-family: "Poppins", sans-serif;
}

.container-login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
  /*.forms-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

  }*/
}
.container-login:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.container-login.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container-login.sign-up-mode .left-panel .content,
.container-login.sign-up-mode .left-panel .image {
  transform: translateX(-800px);
}

.container-login.sign-up-mode .right-panel .content,
.container-login.sign-up-mode .right-panel .image {
  transform: translateX(0px);
}

.container-login.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-login.sign-up-mode .right-panel {
  pointer-events: all;
}

.container-login.sign-up-mode .signin-signup {
  left: 25%;
}

.container-login.sign-up-mode .sign-up-form {
  z-index: 2;
  opacity: 1;
}

.container-login.sign-up-mode .sign-in-form {
  z-index: 1;
  opacity: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}
.signin-signup .title-in {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #444;
}
.signin-signup .input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}
.signin-signup .input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}
.signin-signup .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.signin-signup .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.signin-signup .social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}
.signin-signup .social-media {
  display: flex;
  justify-content: center;
}
.signin-signup .social-media .social-icon {
  width: 46px;
  height: 46px;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  font-size: 1.1rem;
  border-radius: 50%;
  transition: 0.3s;
}
.signin-signup .social-media .social-icon:hover {
  background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.6) 100%);
  background-blend-mode: normal, multiply;
  color: #000;
}

.btn-in {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  cursor: pointer;
  font-weight: 600;
  color: #000;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  text-transform: uppercase;
}
.btn-in:hover {
  background-image: linear-gradient(to top, #3cba92 0%, #0ba360 100%);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  overflow: hidden;
  grid-row: 1/2;
  grid-column: 1/2;
  transition: 0.2s 0.7s ease-in-out;
}
form.sign-in-form {
  z-index: 2;
}
form.sign-up-form {
  z-index: 1;
  opacity: 0;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.panels-container .panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}
.panels-container .panel .content {
  color: #fff;
  transition: 0.9s 0.6s ease-in-out;
}
.panels-container .panel .content h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}
.panels-container .panel .content p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}
.panels-container .panel .image {
  width: 80%;
  transition: 1.1s 0.4s ease-in-out;
}
.panels-container .left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}
.panels-container .right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.panels-container .right-panel .content, .panels-container .right-panel .image {
  transform: translateX(800px);
}

.btn-in.transparent {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  margin: 0;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.btn-in.transparent:hover {
  background-image: linear-gradient(to top, #3cba92 0%, #0ba360 100%);
}

@media (max-width: 870px) {
  .container-login {
    min-height: 800px;
    height: 100vh;
  }
  .container-login:before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .container-login .signin-signup {
    width: 100%;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .container-login .signin-signup .title-in {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .container-login .signin-signup .input-field {
    height: 40px;
    margin: 5px 0;
    border-radius: 40px;
  }
  .container-login .signin-signup .input-field i {
    line-height: 40px;
    font-size: 0.9rem;
  }
  .container-login .signin-signup .input-field input {
    font-size: 0.9rem;
  }
  .container-login .signin-signup .btn-in {
    width: 100px;
    height: 30px;
    border-radius: 30px;
  }
  .container-login .signin-signup .social-icon {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }

  .container-login.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container-login.sign-up-mode .left-panel .content,
.container-login.sign-up-mode .left-panel .image {
    transform: translateY(-300px);
  }

  .container-login.sign-up-mode .right-panel .content,
.container-login.sign-up-mode .right-panel .image {
    transform: translateX(0px);
  }

  .container-login.sign-up-mode .signin-signup {
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .panels-container .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 0.8%;
  }
  .panels-container .panel .image {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }
  .panels-container .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }
  .panels-container .panel .content h3 {
    font-size: 1.2rem;
  }
  .panels-container .panel .content p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .panels-container .panel .btn-in.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .panels-container .left-panel {
    grid-row: 1/2;
  }
  .panels-container .right-panel {
    grid-row: 3/4;
  }
  .panels-container .right-panel .content, .panels-container .right-panel .image {
    transform: translateY(300px);
  }
}
@media (max-width: 500px) {
  .image {
    display: none;
  }

  .panels-container .panel .content {
    padding: 0.5rem 1rem;
  }
  .panels-container .panel .content h3 {
    font-size: 1.5rem;
  }
  .panels-container .panel .content p {
    font-size: 1rem;
  }

  .container-login:before {
    bottom: 60%;
    left: 50%;
  }

  .container-login.sign-up-mode:before {
    bottom: 40%;
    left: 50%;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7rem 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 65em;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn, .btn-hero {
  display: inline-block;
  border: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125em;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: 0.25em;
  transition: transform 300ms ease-in-out, opacity 300ms linear;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn-hero:hover,
.btn-hero:focus {
  transform: scale(1.1);
  opacity: 0.8;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero {
  color: #fff;
  text-align: center;
  padding: 15em 0;
}
.hero .account {
  position: absolute;
  color: mediumseagreen;
  width: 30px;
  height: 30px;
  top: 23px;
  right: 95px;
  font-size: 25px;
  cursor: pointer;
}
.hero .account .a-account {
  color: mediumseagreen;
  text-decoration: none;
}
.hero #scroll {
  border: none;
  outline: none;
}
@supports (background-blend-mode: multiply) {
  .hero {
    background: url(../img/nike2.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.hero .hero__title {
  font-size: 4rem;
  font-size: clamp(2rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .hero {
    padding: 140px 0 300px;
  }
}

.featured {
  background: #eee;
}
.featured__item {
  position: relative;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
  color: #333;
  text-align: center;
  line-height: 1.2;
  z-index: 1;
}
.featured__item:hover, .featured__item:focus {
  transform: scale(1);
  transform: rotate(-10deg);
}
.featured__item:hover .featured__details, .featured__item:focus .featured__details {
  opacity: 1;
}
.featured__item::after {
  content: "";
  position: absolute;
  padding: 75% 75% 0 0;
  top: -4%;
  left: 12%;
  border-radius: 50%;
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  z-index: -1;
}
.featured__details {
  opacity: 0;
  transition: opacity 250ms linear;
}
.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw +1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.split > * {
  flex-basis: 30%;
  min-width: 15em;
}

.thre-img {
  background: #f5f5f5;
  padding: 100px 0 0;
}
.thre-img .thre__container {
  position: relative;
  width: 100%;
  height: 300px;
}
.thre-img .thre__container .thre__clip {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}
.thre-img .thre__container .thre__clip .thre__content {
  position: absolute;
  top: -100%;
  left: 0;
  width: 80%;
  transition: 0.5s;
  padding: 5px;
  opacity: 0;
}
.thre-img .thre__container .thre__clip .clip-title {
  color: #17353d;
}
.thre-img .thre__container .thre__clip-1 {
  background-size: cover;
  clip-path: polygon(0 0, 30% 0, 40% 100%, 0% 100%);
}
.thre-img .thre__container .thre__clip-2 {
  background-size: cover;
  clip-path: polygon(30% 0, 85% 0, 65% 99%, 40% 99%);
}
.thre-img .thre__container .thre__clip-3 {
  background-size: cover;
  clip-path: polygon(85% 0, 100% 0, 100% 100%, 65% 100%);
}
.thre-img .thre__container:hover .thre__clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.thre-img .thre__container .thre__clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.thre-img .thre__container .thre__clip:hover .thre__content {
  top: 0;
  opacity: 1;
}

@media (max-width: 600px) {
  .thre-img .thre__container {
    height: 220px;
  }
}
@media (max-width: 500px) {
  .thre-img .thre__container {
    height: 180px;
  }
}
@media (max-width: 400px) {
  .thre-img .thre__container {
    height: 140px;
  }
}
.products {
  background: #f5f5f5;
}

.product {
  background: firebrick;
  padding: 3em 0;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}
.product__title {
  font-size: clamp(3rem, calc(5vw + 1em), 5.5rem);
  color: #fff;
  text-shadow: 0 0 0.2em black;
  line-height: 1;
  text-transform: uppercase;
}
.product__img {
  margin: -5em 0 0 0;
}
@media (min-width: 45em) {
  .product {
    text-align: left;
    padding: 3em;
    margin-bottom: 9em;
  }
  .product__title {
    margin: 0;
  }
  .product__img {
    float: right;
    width: 65%;
    shape-outside: url(../img/nike5.png);
    shape-margin: 1em;
    margin: 0 -5em 0 0;
  }
  .product.shoe-left .product__img {
    shape-outside: url(../img/nike6.png);
    float: left;
    margin: 0 0 20px -5em;
    shape-margin: 2em;
  }
  .product .card-3 .product__img {
    shape-outside: url(../img/nike2.2.png);
  }
}

.hero {
  --clr-accent: #ff840f;
}

.card-1 {
  background: #ff840f;
  --clr-accent: #2193b0;
}

.card-2 {
  background: #2193b0;
  --clr-accent: #755139;
}

.card-3 {
  background: sandybrown;
  --clr-accent: #f96714;
}

.footer {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  background: #ececec;
  align-items: center;
  margin: auto;
}
.footer input[type=checkbox] {
  width: 50px;
  height: 50px;
  margin: 0;
  -webkit-appearance: none;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(70, 70, 70, 0.12);
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ececec;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  left: 3%;
}
.footer input[type=checkbox]::before {
  color: #7a7a7a;
  font-size: 16px;
}
.footer input[type=checkbox]:checked {
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(70, 70, 70, 0.12), inset -3px -3px 5px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(70, 70, 70, 0.12);
}
.footer input[type=checkbox]:checked::before {
  color: #15e38a;
}
.footer .footer__items {
  display: flex;
}
.footer .footer__items .footer__link {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.footer .footer__items .footer__link i.fab {
  font-size: 3rem;
  color: darkslategray;
}
.footer .footer__items .git {
  animation: rotate 7s linear forwards infinite;
}
@media (max-width: 550px) {
  .footer .footer__items {
    flex-direction: column;
  }
  .footer .footer__items .footer__link {
    margin: 10px auto;
  }
  .footer .footer__items .git {
    animation: none;
  }
  .footer input[type=checkbox] {
    left: 10%;
  }
}

/*# sourceMappingURL=main.css.map */
